@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Yanone+Kaffeesatz&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Josefin+Sans&family=Yanone+Kaffeesatz&display=swap");

* {box-sizing: border-box;}

html, body {
    max-width: auto;
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url("../images/books.jpg");
    background-size: cover;
}

header {
    background-color:rgba(137, 181, 175);
    display: flex;
    justify-content: center;
    font-family: 'Secular One', sans-serif;
    font-size: 30px;
    color:rgb(222, 217, 196);
    text-shadow: 2px 2px grey;
}

.main {
    background-color: rgb(137, 181, 175);
    background-size: cover;
    /* opacity: 0.7; */
    display: flex;
    flex: 1 0 auto;
    padding: 20px;
}

.contents {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    font-family: 'Secular One', sans-serif;
    font-size: 40px;
    align-items: center;
    gap: 50px;
    background-color:rgb(222, 217, 196);
    text-shadow: 2px 2px gray;
}

.choice:link, .choice:visited {
    color: rgb(137, 181, 175);
    text-decoration: none;
}

.choice:hover, .choice:active {
    color: whitesmoke;
  }


.menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-self: baseline;
    background-color: rgb(137, 181, 175);
}


h2 {
    color: #433520;
    font-family: 'bungee shade', sans-serif;
    font-size: 80px;
    text-shadow: 2px 2px #FDE8CD;
    display: flex;
    justify-content: center;
    transition-timing-function: ease-out;
    animation-name: titleFade;
    animation-duration: 4s;
}

@keyframes titleFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.menu2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    transition-timing-function: ease-out;
    animation-name: menuFade;
    animation-duration: 2s;
}

.menu2:hover {
    top: 0;
    bottom: auto;
}

@keyframes menuFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.links {
    position: relative;
    width: 400px;
    text-align: center;
    padding: 15px;
}

.linksBlack {
    background: #00917C;
    transition: 3s;
    width: 100%;
    display: flex;
    justify-content: center;
}

.linksWhite {
    background: #FDE8CD;
    transition: 3s;
    width: 100%;
    display: flex;
    justify-content: center;
}

.link__name {
    display: block;
    /* width: 100px; */
    margin: 30px;
    font-size: 70px;
    font-family: 'Secular One', sans-serif;
    color: #DFE0DF;
    text-align: center;
}

.link__name2 {
    display: block;
    /* width: 100px; */
    margin: 30px;
    font-size: 70px;
    font-family: 'Secular One', sans-serif;
    color: #433520;
    text-align: center;
}

.link__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.05s;
}

.link__overlay--primary {
    background: rgba(253, 232, 205, 0.6);
}

.link__overlay--primary2 {
    background: rgba(0, 145, 124, 0.6);
}

.link__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.link__overlay:hover {
    opacity: 1;
}

.link__overlay:hover > * {
    transform: translateY(20px);
}

.link__url {
    text-decoration: none;
    font-family: 'Secular One';
    font-size: 30px;
    color: #433520;
}

.link__url2 {
    text-decoration: none;
    font-family: 'Secular One';
    font-size: 30px;
    color: #DFE0DF;
}

footer {
    background-color: rgb(137, 181, 175);
    overflow: hidden;
    flex-shrink: 0;
    padding: 20px;
    font-family: 'Secular One', sans-serif;
    color: rgb(222, 217, 196);
    text-shadow: 2px 2px grey;
}