@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Yanone+Kaffeesatz&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Josefin+Sans&family=Yanone+Kaffeesatz&display=swap");


* {
    justify-content: space-between;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url("../images/cinemaAudience.jpg");
    background-size:initial;
}

header {
    background-color:rgba(137, 181, 175);
    display: flex;
    justify-content: center;
    font-family: 'Secular One', sans-serif;
    font-size: 30px;
    color:rgb(222, 217, 196);
    text-shadow: 2px 2px grey;
}

.main {
    background-color: rgb(137, 181, 175);
    background-size: cover;
    /* opacity: 0.7; */
    display: flex;
    flex: 1 0 auto;
    padding: 20px;
}

.contents {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    font-family: 'Secular One', sans-serif;
    font-size: 40px;
    align-items: center;
    gap: 50px;
    background-color:rgb(222, 217, 196);
    text-shadow: 2px 2px gray;
}

.choice:link, .choice:visited {
    color: rgb(137, 181, 175);
    text-decoration: none;
}

.choice:hover, .choice:active {
    color: whitesmoke;
  }


.menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-self: baseline;
    background-color: rgb(137, 181, 175);
}

#intro {
    color: rgb(222, 217, 196);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    text-shadow: 2px 2px black;
    background-color: rgba(137, 181, 175, 0.6);
}

.navi {
    display: flex;
    justify-content: space-evenly;
    background-color:rgb(137, 181, 175);
    margin: 0;
}

#goBack {
    font-family: 'Secular One', sans-serif;
    font-size: 25px;
    text-align: center;
    background-color:rgb(137, 181, 175);
    text-decoration: none;
    width: 100%;
    border: 2px solid rgb(222, 217, 196);
    color: rgb(222, 217, 196);
    text-shadow: 1px 1px black;
}

#articleTitle {
    display: flex;
    justify-content: center;
    font-size: 75px;
    font-family: 'Bungee Shade', cursive;
    color: #171717;
    text-shadow: 2px 2px #EDEDED;
    transition-timing-function: ease-out;
    animation-name: titleFade;
    animation-duration: 4s;
}

@keyframes titleFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.movieName {
    font-family: 'Secular One', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color:rgba(250, 249, 246, 1);
    text-shadow: 2px 2px rgba(0, 0, 0, 1);
}

p {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;
}

#pType1 {
    color:rgba(250, 249, 246, 1);
    text-shadow: 1px 1px rgba(0, 0, 0, 1);
}

#pType2 {
    color:rgba(250, 249, 246, 1);
    text-shadow: 1px 1px rgba(0, 0, 0, 1);
}

/* #beatles{
    float: left;
    font-size: 25px;
} */

.moviesRight {
    background-color: rgba(23, 23, 23, 0.8);    transition-timing-function: ease-out;
    animation-name: fade;
    animation-duration: 2s;
}

.imgRight {
    width: 250;
    height: 290px;
    object-fit: scale-down;
    float: right;
    border-radius: 5px;
    margin: 5px;
    border: 5px solid #171717;
}

.moviesLeft {
    background-color: rgba(218, 0, 55, 0.8);
    transition-timing-function: ease-out;
    animation-name: fade;
    animation-duration: 2s;
}

.imgLeft {
    width: 250;
    height: 290px;
    object-fit: scale-down;
    float: left;
    border-radius: 5px;
    margin: 10px;
       border: 5px solid #DA0037;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#nYoung {
    background-color: rgba(137, 181, 175, 0.6);
}

#neilImg {
    width: 250;
    height: 290px;
    object-fit: scale-down;
    float: right;
    border-radius: 5px;
    margin: 5px;
    border: 5px solid rgb(222, 217, 196);
}

#theBand {
    background-color: rgba(222, 217, 196, 0.6);
}

#bandImg {
    width: 250;
    height: 290px;
    object-fit: scale-down;
    float: left;
    border-radius: 5px;
    margin: 10px;
       border: 5px solid rgba(137, 181, 175);
}

#lCohen {
    background-color: rgba(137, 181, 175, 0.6);
}

#cohenImg {
    width: 250;
    height: 290px;
    object-fit: scale-down;
    float: right;
    border-radius: 5px;
    margin: 5px;
    border: 5px solid rgb(222, 217, 196);
}